<!DOCTYPE html>
<html lang="en">

<head style="padding: 0% !important; margin: 0% !important;">
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>XEIDESAL</title>

    <!-- Favicon -->
    <link rel="icon" href="/public/img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/public/style.css">

</head>

<script>
    function validaSenha(input) {
        if (input.value != document.getElementById('senha').value) {
            document.getElementById('span').innerHTML='Senhas diferentes';
        } else{
            document.getElementById('span').innerHTML='';
        }
    } 
</script>

<body style="padding: 0% !important; margin: 0% !important;">

    <%- include('header.ejs') %>

    <!-- ##### Hero Area Start ##### -->
    <section class="hero-area" style="margin: 0% !important; padding: 0% !important;">
        <div>
            <!-- Single Hero Slide -->
            <div class="single-hero-slide d-flex align-items-center justify-content-center" style="height: 600px;">
                <!-- Slide Img -->
                <div class="slide-img bg-img" style="background-image: url(/public/img/bg-img/bg-8.jpg);"></div>
                <!-- Slide Content -->
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="hero-slides-content text-center">
                                <h6></h6>
                                <h2>ÁLBUNS <span>ÁLBUNS</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Hero Slide -->
        </div>
    </section>
    <!-- ##### Hero Area End ##### -->
    <div class="container-fluid align-items-center mt-5 mb-5">
        <form class="form-inline" style="margin-left: 31%;" method="POST" action="/buscas/album">
            <div class="form-group mx-sm-3 mb-2">
                <label for="buscar" class="sr-only">Buscar</label>
                <input type="text" class="form-control" id="buscar" name="album" placeholder="Procurar Música" style="width: 600px;">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Buscar</button>
        </form>
    </div>
    
    <!-- Inicio das musicas do banco -->
        <div class="container-fluid" style=" margin:0% !important; padding: 0 !important;">
            <div class="col-sm-6"><br><br></div>
            <div class="row linha justify-content-center">
                <% var r; for(i=0;i<dados.length;i++){%>
                <div class="col-sm-3 mb-5">
                    <div class="card zoom shadow-lg select-album">
                        <a href="/album/<%=dados[i].id_album%>"><img class="card-img-top foto-album" src="<%= dados[i].foto_album %>"></a>
                        <div class="card-body shadow">
                            <a href="/album/<%=dados[i].id_album%>"><p class="card-text text-center h2 nome-album"><%= dados[i].album %></p></a>
                            <a href="/artista/<%=dados[i].id_artista%>"><p class="text-center h6"><%=dados[i].artista%></p></a>
                        </div>
                    </div>
                </div>
                <%r++; if(r==3){%>
                <div class="row linha justify-content-center">
                    <% }}%>
                </div>
                <!--fim primeira parte -->
            </div>
        </div>
    <!-- Fim das musicas do banco -->


    <%- include ('footer.ejs') %>


</body>

</html>