<!DOCTYPE html>
<html lang="en">

<head style="padding: 0% !important; margin: 0% !important;">
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>XEIDESAL</title>

    <!-- Favicon -->
    <link rel="icon" href="/public/img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/public/style.css">

</head>

<script>
    function validaSenha(input) {
        if (input.value != document.getElementById('senha').value) {
            document.getElementById('span').innerHTML='Senhas diferentes';
        } else{
            document.getElementById('span').innerHTML='';
        }
    } 
</script>

<body class="" style="padding: 0% !important; margin: 0% !important;">

    <%- include('header.ejs') %>

    <!-- ##### Hero Area Start ##### -->
    <section class="hero-area" style="margin: 0% !important; padding: 0% !important;">
        <div>
            <!-- Single Hero Slide -->
            <div class="single-hero-slide d-flex align-items-center justify-content-center" style="height: 600px;">
                <!-- Slide Img -->
                <div class="slide-img bg-img" style="background-image: url(/public/img/bg-img/bg-8.jpg);"></div>
                <!-- Slide Content -->
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="hero-slides-content text-center">
                                <h6></h6>
                                <h2>MÚSICAS <span>MÚSICAS</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Hero Slide -->
        </div>
    </section>
    <!-- ##### Hero Area End ##### -->
    
    <!-- Campo de busca -->
    <div class="container-fluid align-items-center mt-5 mb-5">
        <form class="form-inline" style="margin-left: 31%;" method="POST" action="/buscas/musica">
            <div class="form-group mx-sm-3 mb-2">
                <label for="buscar" class="sr-only">Buscar</label>
                <input type="text" class="form-control" id="buscar" name="musica" placeholder="Procurar Música" style="width: 600px;">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Buscar</button>
        </form>
    </div>
    
    <!-- Inicio das musicas do banco -->
    <% for(cont = 0; cont < dados.length; cont++){ %>
    <section class="featured-artist-area section-padding-100">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-12 col-md-5 col-lg-3 text-center">
                    <div class="featured-artist-thumb">
                        <img src="<%= dados[cont].foto_album %>" class="foto-musica">
                    </div>
                </div>
                <div class="col-12 col-md-7 col-lg-8">
                    <div class="featured-artist-content">
                        <!-- Section Heading -->
                        <div class="text-left mb-30">
                            <h2 style="color: #000;"><%= dados[cont].musica %></h2>
                            <div class="row ml-1">
                                <a href="/album/<%= dados[cont].id_album %>" class="ancora-pagina">
                                    <p class="h6" style="color: #000;"><%= dados[cont].album + ' ' %></p>
                                </a>
                                <pre class="h6" style="overflow-y: hidden;"> - </pre>
                                <a href="/artista/<%= dados[cont].id_artista %>" class="ancora-pagina">
                                  <p class="h6" style="color: #000;"><%= ' ' + dados[cont].artista %></p>
                                </a>
                            </div>
                        </div>
                        <div class="song-play-area">
                            <audio preload="auto" controls>
                                <source src="<%= dados[cont].arquivo %>">
                            </audio>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <% } %>
    <!-- Fim das musicas do banco -->


    <%- include ('footer.ejs') %> 


</body>

</html>