<div style="margin-top: 10rem; margin-bottom: 5rem;">
    <!-- ##### Header Area End ##### -->

    <div class="container">
        <!-- Profile header section -->
        <div class="container ms-5 mt-5">
            <div class="row">
                <div class="col-4">
                    <img src="<%= dados.images[0].url %>" alt="Profile Picture" class="rounded-circle text-start profile-picture">
                </div>
                <div class="col-8 mt-4">
                    <h2>
                        <a href="<%= dados.external_urls.spotify %>" class="h2 fw-bold text-white" target="_blank">
                            <%= dados.display_name %>
                        </a>
                    </h2>
                    <p class="mb-1 info-perfil"><%= dados.followers.total %> Seguidores •
                        <%= followedArtists.artists.total %> Artistas seguidos • <%= playlists.total %> Playlists salvas
                    </p>
                    <p class="mb-1 mt-4">
                        <div class="d-flex">
                            <a href="<%= topTrack.items[0].external_urls.spotify %>" class="text-decoration-none" target="_blank">
                                <img src="<%= topTrack.items[0].album.images[0].url %>" class="border border-5 border-white rounded-3 musica-perfil">
                            </a>
                            <div class="ms-3 mt-2">
                                <h6 class="musica-perfil"> Música mais escutada (todos os tempos):</h6>
                                <a href="<%= topTrack.items[0].external_urls.spotify %>" class="text-decoration-none musica-perfil" target="_blank"> 
                                    <%= topTrack.items[0].name %> 
                                </a>
                                <p class="musica-perfil mt-1">
                                    <a href="https://open.spotify.com/artist/<%= topTrack.items[0].artists[0].id %>" class="text-decoration-none musica-perfil" target="_blank">
                                        <%= topTrack.items[0].artists[0].name %>
                                    </a>
                                    - <!-- NÃO APAGA -->
                                    <a href="https://open.spotify.com/album/<%= topTrack.items[0].album.id %>" class="text-decoration-none musica-perfil" target="_blank">
                                        <%= topTrack.items[0].album.name %>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </p>
                </div>
            </div>
        </div>

        <!-- Gallery section -->
        <div class="row mt-5">
            <div class="d-flex justify-content-center mb-5">
                <ul class="nav nav-tabs justify-content-center" style="width: 100% !important;">
                    <li class="nav-item">
                        <a class="nav-link text-white abaPerfil" id="lastTracks">Últimas músicas escutadas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white abaPerfil" id="topArtists">Artistas Mais Escutados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white abaPerfil" id="topMusics">Músicas Mais Escutadas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white abaPerfil" id="followedArtists">Artistas Seguidos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white abaPerfil" id="savedAlbuns">Albuns Salvos</a>
                    </li>
                </ul>
            </div>


            <!-- Últimas músicas escutadas -->
            <div class="container" id="lastTracks">
            </div>

            <!-- Artistas mais escutados -->
            <div class="container" id="topArtists">
            </div>

            <!-- Musicas mais escutadas -->
            <div class="container" id="topMusics">
            </div>

            <!-- Artistas Seguidos -->
            <div class="container" id="followedArtists">
            </div>

            <!-- Albuns Salvos -->
            <div class="container" id="savedAlbuns">
            </div>

        </div>
    </div>

    <script>
        var lastTracks =
            "<div class='row mb-3 d-flex justify-content-center'> <% var r = 0; for (i = 0; i < lastTracks.items.length; i++) { %> <div class='col' style='max-width: 20rem;'> <a href='<%= lastTracks.items[i].track.external_urls.spotify%>' target='_blank' rel='noopener noreferrer' class='text-decoration-none'> <div class='card h-100 bg-white text-dark'> <img src='<%= lastTracks.items[i].track.album.images[0].url %>' alt='<%= lastTracks.items[i].track.name %>' class='abaPerfil'> <div class='card-body'> <h5 class='card-title text-center'> <%= lastTracks.items[i].track.name %> </h5> <p class='card-text fw-bold text-center'> <a class='text-decoration-none' href='<%= lastTracks.items[i].track.artists[0].external_urls.spotify %>' target='_blank'> <%= lastTracks.items[i].track.artists[0].name %> </a> <% if (lastTracks.items[i].track.artists.length > 1) { j=1; while (j < lastTracks.items[i].track.artists.length){ %> | <a class='text-decoration-none' href='<%= lastTracks.items[i].track.artists[j].external_urls.spotify %>' target='_blank'> <%= lastTracks.items[i].track.artists[j].name %> </a> <% j++ %> <% } } %></p> </div> </div> </a> </div> <% r++; if (r == 2) { %> </div> <div class='row mb-3 d-flex justify-content-center'> <% r = 0; } %> <% } %> </div> ";
        var topArtists =
            "<div class='row mb-3 d-flex justify-content-center'> <% var r = 0; for (i = 0; i < topArtist.items.length; i++) { %> <div class='col' style='max-width: 20rem;'> <a href='<%= topArtist.items[i].external_urls.spotify %>' target='_blank' rel='noopener noreferrer' class='text-decoration-none'> <div class='card h-100 bg-white text-dark'> <img src='<%= topArtist.items[i].images[0].url %>' alt='<%= topArtist.items[i].name %>' class='abaPerfil'> <div class='card-body'> <h5 class='card-title text-center'> <%= topArtist.items[i].name %> </h5> </div> </div> </a> </div>  <% r++; if (r == 2) { %> </div> <div class='row mb-3 d-flex justify-content-center'> <% r = 0; } %> <% } %> </div>";
        var topMusics =
            "<div class='row mb-3 d-flex justify-content-center'> <% var r = 0; for (i = 0; i < top10Track.items.length; i++) { %> <div class='col'style='max-width: 20rem;'> <a href='<%= top10Track.items[i].album.external_urls.spotify%>' target='_blank' rel='noopener noreferrer' class='text-decoration-none'> <div class='card h-100 bg-white text-dark'> <img src='<%= top10Track.items[i].album.images[0].url %>' alt='<%= top10Track.items[i].name %>' class='abaPerfil'> <div class='card-body'> <h5 class='card-title text-center'> <%= top10Track.items[i].name %> </h5> <p class='card-text fw-bold text-center'> <a class='text-decoration-none' href='<%= top10Track.items[i].artists[0].external_urls.spotify %>' target='_blank'> <%= top10Track.items[i].artists[0].name %> </a> <% if (top10Track.items[i].artists.length > 1) { j=1; while (j < top10Track.items[i].artists.length){ %> | <a class='text-decoration-none' href='<%= top10Track.items[i].artists[j].external_urls.spotify %>' target='_blank'> <%= top10Track.items[i].artists[j].name %> </a> <% j++ %> <% } } %></p> </div> </div> </a> </div> <% r++; if (r == 2) { %> </div> <div class='row mb-3 d-flex justify-content-center'> <% r = 0; } %> <% } %> </div>";
        var followedArtists =
            "<div class='row mb-3 d-flex justify-content-center'> <% var r = 0; for (i = 0; i < followedArtists.artists.items.length; i++) { %> <div class='col' style='max-width: 20rem;'> <a href='<%= followedArtists.artists.items[i].external_urls.spotify %>' target='_blank' rel='noopener noreferrer' class='text-decoration-none'> <div class='card h-100 bg-white text-dark'> <img src='<%= followedArtists.artists.items[i].images[0].url %>' alt='<%= followedArtists.artists.items[i].name %>' class='abaPerfil'> <div class='card-body'> <h5 class='card-title text-center'> <%= followedArtists.artists.items[i].name %> </h5> </div> </div> </a> </div> <% r++; if (r == 2) { %> </div> <div class='row mb-3 d-flex justify-content-center'> <% r = 0; } %> <% } %> </div> <p>o spotify nos limita a mostrar no máximo 50 artistas</p>"
        var savedAlbuns =
            "<div class='row mb-3 d-flex justify-content-center'> <% var r = 0; for (i = 0; i < savedAlbuns.items.length; i++) { %> <div class='col' style='max-width: 20rem;'> <a href='<%= savedAlbuns.items[i].album.external_urls.spotify%>' target='_blank' rel='noopener noreferrer' class='text-decoration-none'> <div class='card h-100 bg-white text-dark'> <img src='<%= savedAlbuns.items[i].album.images[0].url %>' alt='<%= savedAlbuns.items[i].album.name %>' class='abaPerfil'> <div class='card-body'> <h5 class='card-title text-center'> <%= savedAlbuns.items[i].album.name %> </h5> <p class='card-text fw-bold text-center'> <a class='text-decoration-none' href='<%= savedAlbuns.items[i].album.artists[0].external_urls.spotify %>' target='_blank'> <%= savedAlbuns.items[i].album.artists[0].name %> </a> <% if (savedAlbuns.items[i].album.artists.length > 1) { j=1; while (j < savedAlbuns.items[i].album.artists.length){ %> | <a class='text-decoration-none' href='<%= savedAlbuns.items[i].album.artists[j].external_urls.spotify %>' target='_blank'> <%= savedAlbuns.items[i].album.artists[j].name %> </a> <% j++ %> <% } } %></p> </div> </div> </a> </div> <% r++; if (r == 2) { %> </div> <div class='row mb-3 d-flex justify-content-center'> <% r = 0; } %> <% } %> </div> <p>o spotify nos limita a mostrar no máximo 50 álbuns</p>";
    </script>
    <!-- 
        1200+ = h75 w75
        1200- = h75 w100
    -->
    <script src="/public/scripts/logic.js"></script>
</div>